/* Common-Properties */
body{
    background-color: rgb(255, 255, 255);
    font-family: poppins;
    color: #18191F;
}
/* Product-Collection */
.container-product{
    display: grid;
    justify-content: center;
}
.container-product>h1{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: #3A3A3A;
}
.equipment-list h1{
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    color: #18191F;
}
.equipment-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.equipment{
    background-color: white;
    box-shadow: 2px 2px 20px rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px 18px;
    height: 600px;
    width: 400px; 
}
.equipment-list .equipment img{
    width: 100%;
    height: 50%;
}
.equipment-cost{
    font-family: inter;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0px;
    margin-bottom: 12px;
}
.equipment-rate a{
    color: #FB8200;;
    font-size: 14px;
}
.equipment-rate span{
    font-family: inter;
    font-weight: bold;
    font-size: 18px;
    color: #5E6366;
    padding-left: 5px;
}
.equipment-info{
    font-family: inter;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.018em;
    color: #787885;
}
