/* Common-Properties */
body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: poppins;
    color: #18191F;
}
/* Navigation-Bar */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
    height: 200px;
    color: #3A3A3A;
}
.left{
    font-size: 25px;
}
.right a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 20px;
}
/* Introduction */
.container-intro{
    display: flex;
    align-items: center;
    color: #3A3A3A;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}
.intro-details h1{
    font-weight: bold;
    font-size: 65px;
}
.intro-details p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
}
.intro-details a{
    text-decoration: none;
    background-color: rgb(255,192,0);
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(38,38,38);
}
.intro-image img{
    width: 900px;
    height: 600px;
}
.intro-image img:hover{
    width: 920px;
    height: 620px;
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
.half-width{
    width: 50%;
}
/* Ecommerce-Site-Icon */
.container-icon{
    margin-top: 8%;
    margin-bottom: 8%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 2px solid rgb(214, 211, 211);
    border-bottom: 2px solid rgb(204, 202, 202);
    padding-top: 2%;
    padding-bottom: 2%;
}
.icon img{
    margin-right: 40px;
    width: 280px;
    height: 40px;
}
/* Product-Collection */
.container-product{
    display: grid;
    justify-content: center;
}
.container-product>h1{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: #3A3A3A;
}
.equipment-list h1{
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    color: #18191F;
}
.equipment-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.equipment{
    background-color: white;
    box-shadow: 2px 2px 20px rgb(211, 210, 210);
    border-radius: 5px;
    padding: 20px 18px;
    height: 600px;
    width: 400px; 
}
.equipment-list .equipment img{
    width: 100%;
    height: 50%;
}
.equipment-cost{
    font-family: inter;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0px;
    margin-bottom: 12px;
}
.equipment-rate a{
    color: #FB8200;;
    font-size: 14px;
}
.equipment-rate span{
    font-family: inter;
    font-weight: bold;
    font-size: 18px;
    color: #5E6366;
    padding-left: 5px;
}
.equipment-info{
    font-family: inter;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.018em;
    color: #787885;
}
.product-btu{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.product-btu a{
    text-decoration: none;
    color: rgb(38,38,38);
    font-size: 20px;
    font-weight: bold;
}
/* Offers */
.deal{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right: 15%;
    display: flex;
    align-items: center;
}
.deal-image img{
    width: 500px;
    height: 300px;
    margin-top: 40px;
}
.deal-details h1{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.deal-details p{
    font-weight: 600;
    font-size: 20px;
}
.deal-details form{
    display: flex;
}
.deal-details input{
    padding: 200;
    background-color: white;
    border: 4px solid rgb(38,38,38);
    font-size: 2em;
}
.deal-details button{
    padding: 200;
    background-color: rgb(255,192,0);
    border: 6px solid rgb(255,192,0);
    font-size: 2em;
    font-weight: bold;
}
/* Footer */
footer{
    background-color: rgb(10,8,38);
    height: 250px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon img{
    height: 50px;
    margin: 20px;
}
/* Mobile-Screen */
@media only screen and (max-width:668px){
    .container-product .container-intro{
        width: 100%;
    }
    .equipment-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .equipment .navigation .right .intro-image .intro-details .icon .deal{
        flex-direction: column;
    }
}
/* Ipad-Screen */
@media only screen and (min-width:668px) and (max-width:992px){
    .container-product{
        width: 100%;
    }
    .equipment-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .equipment .navigation .right .intro-image .intro-details .icon .deal{
        flex-direction: column;
    }
}